<!-- admin-home asub localhost:4200/admin -->

<!-- kui ma routerLink ette ei pane kaldkriipsu routerLink="/admin/midagi",
  siis ta liidab juurde

Kokkuvõttes kui liidetakse juurde localhost:4200/admin + kategooriad =
     localhost:4200/admin/kategooriad   , mis on aadress app-routingus
      "admin/kategooriad", millele vastab CategoryComponent -->

<button routerLink="lisa-ese">Lisa uus ese</button>
<button routerLink="esemed">Vaata/muuda esemeid</button>
<button routerLink="kategooriad">Vaata/muuda kategooriaid</button>
