<!-- admin-home asub localhost:4200/admin -->

<!-- kui ma routerLink ette ei pane kaldkriipsu routerLink="/admin/midagi",
  siis ta liidab juurde

Kokkuvõttes kui liidetakse juurde localhost:4200/admin + kategooriad =
     localhost:4200/admin/kategooriad   , mis on aadress app-routingus
      "admin/kategooriad", millele vastab CategoryComponent -->

<button routerLink="/admin/lisa-ese">Lisa uus ese</button>
<button routerLink="/admin/esemed">Vaata/muuda esemeid</button>
<br><br>
<button routerLink="/admin/kategooriad">Vaata/muuda kategooriaid</button>
<br><br>
<button routerLink="/admin/kasutajad/lisa-kasutaja">Lisa kasutaja</button>
<button routerLink="/admin/kasutajad/vaata-kasutajaid">Vaata/muuda kasutajaid</button>
<br><br>
<button routerLink="/admin/galerii">Vaata/muuda avalehe galerii pilte</button>
