<div *ngIf="item" class="item-css">
    <img src="{{ item.imgSrc }}" alt="">
    <div>{{ item.title }}</div>
    <div>{{ item.price }}</div>
    <div>{{ item.category }}</div>
    <div>{{ item.isActive }}</div>
    <button (click)="onAddToCart(item)">Lisa ostukorvi</button>
</div>

<!-- hüüumärk keerab väärtuse vastupidiseks -->
<div *ngIf="!item" class="item-not-found">Eset ei leitud</div>

<!-- Lisa ostukorvi peaks kutsuma "click" abil mingi funktsiooni välja -->
<!-- .ts failis peab see funktsioon olemas olema -->
<!-- funktsioon peab saatma selle eseme HTML-st .ts faili -->
<!-- .ts fail peab selle eseme funktsiooni sulgude sees vastu võtma -->
<!-- constructoris peab olema olemas ühendus CartService-ga -->
<!-- funktsiooni sees teen push() käsu CartService massiivi -->