<button routerLink="/admin/esemed">Tagasi</button>

<form *ngIf="item" (ngSubmit)="onSubmit()" [formGroup]="editItemForm">
    <label>Pealkiri</label><br>
    <input formControlName="title" type="text" required><br>

    <label>Hind</label><br>
    <input formControlName="price" type="number" required><br>

    <label>Kategooria</label><br>
    <select formControlName="category" required>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>
    <br>

    <label>Pilt</label><br>
    <input formControlName="imgSrc" type="text" required><br>

    <label>Nähtav</label><br>
    <input formControlName="isActive" type="checkbox"><br>

    <button [disabled]="editItemForm.invalid">Muuda ese</button>
</form>

<div *ngIf="!item">Eset ei leitud</div>

<!-- <form (ngSubmit)="onSubmit()" #form="ngForm">
</form> -->