<form (ngSubmit)="onSubmit(addCategoryForm)" #addCategoryForm="ngForm">
    <label>Kategooria</label><br>
    <input ngModel name="category" type="text">
    <button>Lisa kategooria</button>
</form>

<div *ngFor="let category of categories">
    <div>{{ category }}</div>
    <button (click)="onDeleteCategory(category)">X</button>
    <br><br>
</div>

<!-- 
    buttoni peale klikkides paneb käima alloleva funktsiooni

    onDeleteCategory(category: any) {
        console.log(category);
    }
 -->