<div *ngFor="let item of items">
    <img routerLink="ese/{{item.title}}" src="{{ item.imgSrc }}" alt="">
    <!-- routerLink="ese/{{item.title}}/{{item.price}}/{{item.title}}/test/{{item.category}}" src="{{ item.imgSrc }}" alt=""> -->
    <div>{{ item.title }}</div>
    <div>{{ item.price }}</div>
    <div>{{ item.category }}</div>
    <div>{{ item.isActive }}</div>
    <button (click)="onAddToCart(item)">Lisa ostukorvi</button>
</div>

<!-- 
    onAddToCart({title:"Ese1", price: "123",...}) {
        .push({title:"Ese1", price: "123",...})
    }
 -->